@charset "UTF-8";

/* font for korean */
@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-light.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
body {
	margin:0;
	padding:0;
	font-family: 'Pretendard', sans-serif;
	line-height: 1.6;
}
.wrap {
}
header, footer {
	padding: 1rem;
}
header {
	position: relative;
	margin-bottom: 2rem;
	background-color: darkblue;
	color: #FFF;
}
header h1 {
	max-width: 40rem;
	margin: 0 auto;
}
header img {
	display: block;
	width: 120px;
	vertical-align: middle;
}
.links {
	max-width: 40rem;
	margin: 0 auto;
	padding: 0;
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}
.links li {
	display: block;
}
.links a {
	padding: 10px;
	border: 1px solid #33F;
	border-radius: 8px;
	background-color: #33F;
	color: #FFF;
	text-decoration: none;
}
@media screen and (max-width: 600px) {
	.links {
		gap: 2px;
	}
}

section {
	max-width: 40rem;
	margin: 0 auto;
}
article {
	margin: 1rem 0;
	padding: .5rem 1rem;
	border: 1px solid #333;
	border-radius: 20px;
}
a.btn {
	padding: 4px;
	border: 1px solid #33F;
	border-radius: 8px;
	background-color: #33F;
	color: #FFF;
	text-decoration: none;
}

footer {
	margin-top: 2rem;
	text-align: center;
	background-color: #333;
	color: #FFF;
}
footer img {
	width: 240px;
}